body {
    background-color: rgb(84, 178, 209);
    
}
.App {
    text-align: center;
    
}
.all-camp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 250px;
    width: 75%;
    margin-left: 10%;       
}

h1 {
    color: white;
    font-size: 40px;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium',  sans-serif;
    text-shadow: 5px 5px 8px grey;
}